<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Ranker - Start</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <div class="logo-start">
        <a href="#">Game Ranker</a>
    </div>
  </header>

  <main>
{% if login %}
    <section id="login">
      <h2>Login</h2>
      <form>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <input type="submit" value="Login">
	  <u><a href='/back'>Back</a></u>
      </form>
    </section>
{% endif %}
{% if signup %}
    <section id="signup">
      <h2>Sign Up</h2>
      <form>
	  <label for="first_name">First Name:</label>
	  <input type="first_name" name="first_name" required>
	  <br><label for="last_name">Last Name:</label>
	  <input type="last_name" name="last_name" required>
          <br><label for="email">Email:</label>
 	  <input type="email" name="email" required>
          <br><label for="password">Password:</label>
 	  <input type="password" name="password" required>
          <br><input type="submit" value="Create Account">
	  <u><a href='/back'>Back</a></u>
      </form>
    </section>
{% endif %}
  </main>
  <footer>
    <p>&copy; 2023 Game Ranker</p>
  </footer>

</body>
</html>
