<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Ranker - Start</title>
  <link rel="stylesheet" type="text/css" href={{url_for("static", filename="style.css")}}>
</head>

<body>

  <header>
    <div class="logo-start">
        <a href="#">Game Ranker</a>
    </div>
  </header>

  <main>
	<section id = "Login or Sign Up:">
	<div style="text-align:center"> 
	 <h2>Login or Sign Up</h2>
		<u><a href= '/login'>Login</a><br></u>
		<u><a href= '/signup'>Sign Up</a></u>
	</div>
	</section>
  </main>
  <footer>
    <p>&copy; 2023 Game Ranker</p>
  </footer>

</body>
</html>
